@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 1rem;
    box-sizing: border-box;
    position:relative;
    overflow-x:hidden;
    background:white;
    @apply font-sen;
   

  }

  .display{
    @apply  font-bold text-[56px] xl:leading-[64px];
  }
  h1{
    @apply  font-bold text-5xl xl:leading-[64px];
  }
  h2{
    @apply font-sen  font-bold text-xl sm:text-2xl lg:text-4xl xl:leading-[48px];
  }
  h3{
    @apply font-sen  font-bold text-[28px] leading-10 -tracking-[1px];
  }
  h4{
    @apply font-bold text-base md:text-xl lg:text-2xl leading-8  ;
  }
  h5{
    @apply  font-bold text-xl leading-8;
  }
  h6{
    @apply font-bold text-base leading-6 ;
  }
  .b1{
    @apply font-inter font-normal text-base leading-7;
  }
  .bg-style{
    @apply bg-cover bg-center bg-no-repeat;
  }
  .sb{
    @apply border border-red-600;
  }
  .button{
    @apply py-4 px-12 font-bold font-sen text-lg ;
  }
  .p_text{
    @apply font-inter text-base font-medium tracking-[3px] leading-5 uppercase;
  }
  p{
    @apply font-inter text-base font-normal leading-7;
  }
  .l1{
    @apply font-inter text-sm font-medium leading-10;
  }
}

.container {
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width:1280px;

}
@media (min-width:640px){
  .container{
    width:calc(100% - 60px);
  }
}
@media (min-width:960px){
  .container{
    width:calc(100% - 80px);
  }
}